.container{
    display: flex;
    justify-content: space-evenly;
}

.user_block {
    flex: 1; /* Розтягнути ліву частину на всю доступну ширину */
    overflow: auto; /* Додати панель прокрутки, якщо контент перевищує розмір блоку */
    margin-left: 160px;
    margin-bottom: 45px;

}

.posts_block {
    width: 500px; /* Задайте фіксовану ширину для правої частини */
    position: sticky; /* Закріпіть праву частину */
    top: 120px; /* Верхній край екрану */
    right: 160px;
    height: 65vh; /* Висота на весь екран */
    background-color: #f0ece2; /* Додайте фоновий колір (за бажанням) */
    border-radius: 10px;
    box-shadow: 16px 19px 29px -23px rgba(97,85,68,0.67);
}

body{
    color: #2d2720;
    background-color: #fcfbfa;
    font-family: "Tajawal", sans-serif;
}

.textWidth{
    width: 420px;
    margin-left: 20px;
}