.hello{
    margin-left: 300px;
    margin-top: 220px;
    font-size: 65px;
    color: #1f2a3f;
}
.hello:hover{
    text-decoration: underline;
    font-size: 70px;
    transition: 0.6s;
    margin-left: 270px;
}