.true{
  background-color: green;
}
.false{
  background-color: red;
}
button{
  width: 100px;
  height: 45px;
  border-radius: 10px;
  border: none;
  margin-top: 15px;
  color: azure;
  font-size: 22px;
}
